<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username, placeholder: "your name here..." %>
    <% @user.errors.full_messages_for(:username).each do |message| %>
      <div class="w3-container w3-red error-msg"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email, placeholder: "example@example.com" %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div class="w3-container w3-red error-msg"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, placeholder: "your password here..." %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div class="w3-container w3-red error-msg"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation, placeholder: "your password again here..." %>
    <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
      <div class="w3-container w3-red error-msg"><%= message %></div>
    <% end %>
  </div>

  <div class="w3-margin-top">
    <%= form.submit %>
  </div>

  <% if @user.errors.any? %>
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <dl>
      <% @user.errors.full_messages.each do |msg| %>
        <dt class="w3-text-red"><%= msg %></dt>
      <% end %>
    </dl>
  <% end %>
<% end %>
