<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<p><%= link_to "Edit", edit_article_path(@article), class: "w3-button w3-yellow w3-round" %></p>
<p><%= link_to 'Back', articles_path(@articles), class: "w3-button w3-grey w3-round" %></p>
<p><%= link_to 'Delete', article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  },
                  class: "w3-button w3-pink w3-round" %></p>

<h2>Comments</h2>

<div class="counting-section">
  <p class="w3-hover-text-blue w3-text-grey">Our blog has <span class="count-span"><%= @article.comments.public_count %></span> comments and counting!</p>
  <p class="w3-hover-text-blue w3-text-grey">Our blog has <span class="count-span"><%= @article.comments.stale_count %></span> archived comment/s and don't show</p>
</div>

<%= render @article.comments %>

<h2>Add a comment:</h2>

<%= render "comments/form", article: @article, comment: @comment || @article.comments.build %>