<h2 class="ui header">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "ui form", "data-turbo" => "false" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username" %>
    <% resource.errors.full_messages_for(:username).each do |message| %> 
      <h5 class="ui red inverted header space-mono-regular m-0"> 
        <small><%= message %></small> 
      </h5>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
    <% resource.errors.full_messages_for(:email).each do |message| %> 
      <h5 class="ui red inverted header space-mono-regular m-0"> 
        <small><%= message %></small> 
      </h5>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    <% resource.errors.full_messages_for(:password).each do |message| %> 
      <h5 class="ui red inverted header space-mono-regular m-0"> 
        <small><%= message %></small> 
      </h5>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
    <% resource.errors.full_messages_for(:password_confirmation).each do |message| %> 
      <h5 class="ui red inverted header space-mono-regular m-0"> 
        <small><%= message %></small> 
      </h5>
    <% end %>
  </div>

  <div class="field">
    <%= f.submit "Sign up", class: "ui primary button" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
