<%= form_with(model: post) do |form| %>
  <%= render "posts/shared/error_messages", resource: post %>

  <div class="form-floating mb-3">
    <%= form.text_field :title, class: "form-control", placeholder: "Leave a title of post here", id: "floatingInput" %>
    <%= form.label :title, "Title post here", for: "floatingInput" %>
    <% post.errors.full_messages_for(:title).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.rich_text_area :body, class: "form-control", placeholder: "Leave a post here", id: "FormControlTextarea" %>
    <% post.errors.full_messages_for(:body).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="mt-5">
    <%= form.submit "Create Post", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
