<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

    <div class="my-4 field">
    <%= f.label :password, "New password", class: "form-label" %>
    <%= f.password_field :password, class: "form-control", autofocus: true, autocomplete: "new-password" %>
    <% resource.errors.full_messages_for(:password).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3 field">
    <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
    <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit "Change my password", class: "btn btn-outline-primary btn-sm mb-2" %>
  </div>
<% end %>

<div class="actions d-flex align-items-center">
  <% links = render("users/shared/links").split("\n") %>
  <% links.each_with_index do |link, index| %>
    <%= link.html_safe %>
    <% if index < links.size - 2 %>
      <span class="me-3">|</span>
    <% end %>
  <% end %>
</div>
