<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, class: "form-control", required: true %>
    <% user.errors.full_messages_for(:username).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", required: true %>
    <% user.errors.full_messages_for(:email).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", required: true %>
    <% user.errors.full_messages_for(:password).each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-info btn-sm" %>
  </div>
<% end %>
