<h1 class="mb-5">Users</h1>

<div id="users" class="row">
  <% @users.each do |user| %>
    <div class="col-md-4">
      <%= render user %>
      <p>
        <%= link_to "Show this user", user, class: "btn btn-primary btn-sm" %>
      </p>
    </div>
  <% end %>
</div>

<% unless user_signed_in? %>
  <%= link_to "New user", new_user_registration_path, class: "btn btn-success btn-sm" %>
<% end %>

<div class="d-flex gap-2 mt-3">
  <%= link_to "Look at posts", posts_path, class: "btn btn-outline-primary" %>
  <%= link_to "Look at my posts", user_posts_path(current_user), class: "btn btn-outline-info" %>
</div>