<% avatars = ["avatar/small/jenny.jpg", "avatar/small/christian.jpg", "avatar/small/stevie.jpg", "avatar/small/matt.jpg"] %>

<div id="<%= dom_id event %>">

  <div class="slideshow-container">
    <div class="slide fade">
      <%= image_tag 'avatar/large/wide_large.png', alt: 'Slide 1' %>
    </div>

    <div class="slide fade">
      <%= image_tag 'avatar/large/wide_blue_large.png', alt: 'Slide 2' %>
    </div>

    <!-- Navigation buttons -->
    <a class="prev" onclick="changeSlide(-1)"><%= content_tag :i, "", class: "chevron left icon ms-1" %></a>
    <a class="next" onclick="changeSlide(1)"><%= content_tag :i, "", class: "chevron right icon me-1" %></a>
  </div>

  <div class="ui grid">
    <div class="ten wide column">
      <h1 class="event-title">
        <%= event.title %>
      </h1>

      <div class="my-2">
        <h2>
          Date and time
        </h2>
        <p><%= content_tag :i, "", class: "calendar check outline icon me-1" %><%= event.date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %d, %Y, %I:%M %p") %></p>
      </div>

      <div class="my-2">
        <h2>
        Location
        </h2>
          
        <p>   <!-- <i class="teal video icon"></i>   - it's usual icon in HTML doc -->
          <%= content_tag :i, "", class: "teal video icon" %>
          <%= event.location %>
        </p>
      </div>

      <div class="my-2">
        <h2>About this event</h2>
        <p>
          <%= event.description %>
        </p>
      </div>
      <div class="meta my-2">
        <i class="pencil alternate icon"></i>
        <span class="ui grey header space-mono-regular events-created">Events Created by <strong><%= event.creator[:username] %></strong></span>
      </div>
    </div>

    <div class="six wide column">

      <% if current_user == event.creator %>
        <h4 class="ui teal header my-5"><i class="calendar check outline icon"></i> You are the creator of this event!</h4>
      <% elsif current_user.attended_events.include?(@event) %>
        <h4 class="ui teal header my-5"><i class="calendar check outline icon"></i> You have already reserved a ticket for this event!</h4>
        <div class="ui cards">
          <div class="card pt-2">
            <div class="content">
              <%= button_to 'Cancel Ticket', attendance_path(event_id: @event.id), method: :delete, class: 'ui button fluid orange' %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="ui cards mt-5">
          <div class="card">
            <div class="content">
              <%= button_to 'Get Tickets', attendances_path(event_id: @event.id), method: :post, class: 'ui button primary fluid mt-5' %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @event.attendees.any? %>
        <div class="mt-5">
          <h3>Attendees</h3>
            <dl>
              <% @event.attendees.each do |attendee| %>
                <div class="item mt-1">
                  <dt class="content">
                    <span class="header">
                      <%= image_tag cycle(*avatars), class: "ui avatar image" %>
                      <span class="space-mono-regular"> <%= attendee.username %> </span>
                    </span>
                  </dt>
                </div>
              <% end %>
            </dl>
        </div>
      <% elsif current_user != event.creator %>
        <h5 class="ui blue header my-5"><i class="calendar check outline icon"></i> Hurry up, you can become the first attendee</h5>
      <% end %>
    </div>
  </div>

</div>