<p style="color: green"><%= notice %></p>

<%= render @event %>


<div class="ui buttons">
  <%= link_to "Edit this event", edit_event_path(@event), class: "ui positive button" %> |
  <div class="or"></div>
  <%= link_to "Back to events", events_path, class: "ui button" %>
</div>
<%= button_to "Destroy this event", @event, method: :delete, class: "negative ui button my-1" %>
