<div class="accordion" id="accordionExample">
  <% @posts.each_with_index do |post, index| %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading<%= index %>">
        <button class="accordion-button <%= 'collapsed' unless index == 0 %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="<%= index == 0 %>" aria-controls="collapse<%= index %>">
          <strong> <%= post.title %> </strong>
        </button>
      </h2>
      <div id="collapse<%= index %>" class="accordion-collapse collapse <%= 'show' if index == 0 %>" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <%= post.body %>
        </div>
      </div>
    </div>
  <% end %>
</div>